.product-card {
    transition: 0.075s ease-in all;

    .card-img-top {
        height: 196px;
        position: relative;
        overflow: hidden;
    }

    img {
        position: absolute;
        width: inherit;
        transform: translateY(-50%);
        top: 50%;
    }

    .card-body {
        a {
            width: fit-content;
        }
    }

    @include media-breakpoint-up(xl) {
        .card-body {
            .btn {
                align-self: flex-start !important;
            }
        }

        &:hover {
            transform: scale(1.04);
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.18) !important;
            cursor: pointer;

            .card-title {
                text-decoration: underline;
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        .card-img-top {
            height: 256px;
        }
    }
}
