@import "../../../../node_modules/bootstrap/scss/functions";

// Papa's Pretzel Place accent colors
$ppp-red_sienna: #ab433b; // Big fat text
$ppp-blue_cornflowerblue: #609fcc; // Background
$ppp-orange_indianred: #d8775e; // The bread
$ppp-beige_papayawhip: #fdedd2; // The salt

// Tinting and shading accent colors
$ppp-red-100: tint-color($ppp-red_sienna, 80%) !default;
$ppp-red-200: tint-color($ppp-red_sienna, 60%) !default;
$ppp-red-300: tint-color($ppp-red_sienna, 40%) !default;
$ppp-red-400: tint-color($ppp-red_sienna, 20%) !default;
$ppp-red: $ppp-red_sienna !default;
$ppp-red-600: shade-color($ppp-red_sienna, 20%) !default;
$ppp-red-700: shade-color($ppp-red_sienna, 40%) !default;
$ppp-red-800: shade-color($ppp-red_sienna, 60%) !default;
$ppp-red-900: shade-color($ppp-red_sienna, 80%) !default;

$ppp-blue-100: tint-color($ppp-blue_cornflowerblue, 80%) !default;
$ppp-blue-200: tint-color($ppp-blue_cornflowerblue, 60%) !default;
$ppp-blue-300: tint-color($ppp-blue_cornflowerblue, 40%) !default;
$ppp-blue-400: tint-color($ppp-blue_cornflowerblue, 20%) !default;
$ppp-blue: $ppp-blue_cornflowerblue !default;
$ppp-blue-600: shade-color($ppp-blue_cornflowerblue, 20%) !default;
$ppp-blue-700: shade-color($ppp-blue_cornflowerblue, 40%) !default;
$ppp-blue-800: shade-color($ppp-blue_cornflowerblue, 60%) !default;
$ppp-blue-900: shade-color($ppp-blue_cornflowerblue, 80%) !default;

$ppp-orange-100: tint-color($ppp-orange_indianred, 80%) !default;
$ppp-orange-200: tint-color($ppp-orange_indianred, 60%) !default;
$ppp-orange-300: tint-color($ppp-orange_indianred, 40%) !default;
$ppp-orange-400: tint-color($ppp-orange_indianred, 20%) !default;
$ppp-orange: $ppp-orange_indianred !default;
$ppp-orange-600: shade-color($ppp-orange_indianred, 20%) !default;
$ppp-orange-700: shade-color($ppp-orange_indianred, 40%) !default;
$ppp-orange-800: shade-color($ppp-orange_indianred, 60%) !default;
$ppp-orange-900: shade-color($ppp-orange_indianred, 80%) !default;

$ppp-beige-100: tint-color($ppp-beige_papayawhip, 80%) !default;
$ppp-beige-200: tint-color($ppp-beige_papayawhip, 60%) !default;
$ppp-beige-300: tint-color($ppp-beige_papayawhip, 40%) !default;
$ppp-beige-400: tint-color($ppp-beige_papayawhip, 20%) !default;
$ppp-beige: $ppp-beige_papayawhip !default;
$ppp-beige-600: shade-color($ppp-beige_papayawhip, 20%) !default;
$ppp-beige-700: shade-color($ppp-beige_papayawhip, 40%) !default;
$ppp-beige-800: shade-color($ppp-beige_papayawhip, 60%) !default;
$ppp-beige-900: shade-color($ppp-beige_papayawhip, 80%) !default;

// Papa's Pretzel Place custom colors
$ppp-custom-colors: ();

$ppp-red-custom-colors: ( "ppp-red-100": $ppp-red-100, "ppp-red-200": $ppp-red-200, "ppp-red-300": $ppp-red-300, "ppp-red-400": $ppp-red-400, "ppp-red": $ppp-red, "ppp-red-600": $ppp-red-600, "ppp-red-700": $ppp-red-700, "ppp-red-800": $ppp-red-800, "ppp-red-900": $ppp-red-900 );
$ppp-blue-custom-colors: ( "ppp-blue-100": $ppp-blue-100, "ppp-blue-200": $ppp-blue-200, "ppp-blue-300": $ppp-blue-300, "ppp-blue-400": $ppp-blue-400, "ppp-blue": $ppp-blue, "ppp-blue-600": $ppp-blue-600, "ppp-blue-700": $ppp-blue-700, "ppp-blue-800": $ppp-blue-800, "ppp-blue-900": $ppp-blue-900 );
$ppp-orange-custom-colors: ( "ppp-orange-100": $ppp-orange-100, "ppp-orange-200": $ppp-orange-200, "ppp-orange-300": $ppp-orange-300, "ppp-orange-400": $ppp-orange-400, "ppp-orange": $ppp-orange, "ppp-orange-600": $ppp-orange-600, "ppp-orange-700": $ppp-orange-700, "ppp-orange-800": $ppp-orange-800, "ppp-orange-900": $ppp-orange-900 );
$ppp-beige-custom-colors: ( "ppp-beige-100": $ppp-beige-100, "ppp-beige-200": $ppp-beige-200, "ppp-beige-300": $ppp-beige-300, "ppp-beige-400": $ppp-beige-400, "ppp-beige": $ppp-beige, "ppp-beige-600": $ppp-beige-600, "ppp-beige-700": $ppp-beige-700, "ppp-beige-800": $ppp-beige-800, "ppp-beige-900": $ppp-beige-900 );

$ppp-custom-colors: map-merge($ppp-custom-colors, $ppp-red-custom-colors);
$ppp-custom-colors: map-merge($ppp-custom-colors, $ppp-blue-custom-colors);
$ppp-custom-colors: map-merge($ppp-custom-colors, $ppp-orange-custom-colors);
$ppp-custom-colors: map-merge($ppp-custom-colors, $ppp-beige-custom-colors);